numpy<2
scipy==1.10.1
tensorflow==2.16.2
s3fs==2023.10.0
datasets==2.17.0
astropy==5.3.4
pyfume==0.3.4
numba==0.59.1
pywavelets==1.5.0
torch==2.2.2
transformers==4.45.2
spacy<3.1.0,>=3.0.0 
#spacy==3.0.9
scispacy==0.4.0
setuptools
thinc<8.1.0,>=8.0.0
fsspec==2023.10.0
matplotlib 
scikit-learn

# python 3.9.17
#pip install pip install https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bionlp13cg_md-0.5.4.tar.gz
#python -m spacy download en_ner_bionlp13cg_md
